

html{
    background: rgb(221, 208, 211);
}

*{
    text-align: center;
}


#dreams{
    background-color: antiquewhite;
    border: solid aquamarine;
    border-width: 5px 15px 0px 0px;
    border-radius: 10pt;
    padding: 10px;
    margin: 10px;
}
h1[draggable]{
    color: blueviolet;
    text-shadow: 2cm;
    font-weight: bolder;
    
}


.creative-project{
    color: rgb(67, 8, 71);
    font-weight: lighter;
    font-style: italic;
}

.personal-goals{
    color: rgb(251, 21, 56);
    font-weight: lighter;
    font-style: italic;
}

.meaning-purpose{
    color: rgb(8, 95, 189);
    font-weight: lighter;
    font-style: italic;
}

.renew-vows{
    color: rgb(191, 57, 187);
    font-weight: lighter;
    font-style: italic;
}

section {
    padding: 30px;
    margin-bottom: 20px;
}
#paragraph{
    border: solid rgb(164, 232, 219);
    border-top: 0px;
    border-right: 0px;
    border-bottom: 15px;
    border-left: 7px;
    border-radius: 10pt;
    margin: 5px;
    padding: 5px;
}
